<!-- templates/future_predictions.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
Future Predictions
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Future Predictions of Vaccine Numbers</h1>
    
    <!-- Form for selecting the future year -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- Display the graph if it exists -->
    {% if has_data %}
        <div class="mt-4">
            <h3>Graphical Comparison</h3>
            <img src="{% static graph_path %}" alt="Graph showing future predictions" class="img-fluid">
        </div>

        <!-- Display the table of future predictions -->
        <h2 class="mt-4">Future Predictions</h2>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Random Forest</th>
                    <th>Linear Regression</th>
                    <th>SVM</th>
                </tr>
            </thead>
            <tbody>
                {% for row in future_df.itertuples %}
                <tr>
                    <td>{{ row.Data }}</td>
                    <td>{{ row.Vacinas_RF }}</td>
                    <td>{{ row.Vacinas_LR }}</td>
                    <td>{{ row.Vacinas_SVR }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
