<!-- templates/future_predictions.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
Prever o futuro | sus.log.br
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col">
          <h1 class="h1-home">Predição de vacinas aplicadas em Forquilhinha/SC</h1>
          <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-sm btn-main big">Realizar predicao</button>
            </form>
          </div>
        </div>
        <div class="col">
            <img class="image-header" src="{% static 'images/vacinas.jpg' %}">
          </div>
      </div>
      
    {% if has_data %}
    
        <hr> 
        <h3 class="mt-4">Resultados da prediçao</h3>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Random Forest</th>
                </tr>
            </thead>
            <tbody>
                {% for row in future_df.itertuples %}
                <tr>
                    <td>{{ row.Data|date:"F Y" }}</td>
                    <td>{{ row.Vacinas_RF|floatformat:0 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>
        <div class="mt-4">
            <h3>Gráfico</h3>
            <img src="{% static graph_path %}" alt="Gráfico demonstrando o valor predito">
        </div>
    {% endif %}
</div>
{% endblock %}
