<!-- templates/predicao/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
Predição Forquilhinha | sus.log.br
{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col">
          <h1 class="h1-home">Compare vacinação anual em Forquilhinha/SC</h1>
          <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-sm btn-main big">Realizar predicao</button>
            </form>
          </div>
        </div>
        <div class="col">
            <img class="image-header" src="{% static 'images/vacinas.jpg' %}">
          </div>
      </div>

    {% if has_data %}
        <hr> 
        <h3 class="mt-4">Resultados para {{ form.cleaned_data.Ano }}</h3>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Vacinas aplicadas</th>
                    <th>Vacinas preditas</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data_year.itertuples %}
                <tr>
                    <td>{{ row.Index }}</td>
                    <td>{{ row.data }}</td>
                    <td>{{ row.vacinas_aplicadas|floatformat:0 }}</td>
                    <td>{{ row.vacinas_previstas|floatformat:0 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Mostrar gráfico gerado pelo seaborn -->
        {% if graph_path %}
            <div class="mt-4">
                <hr>
                <h3>Comparação entre real e predito</h3>
                <img src="{% static graph_path %}" alt="Graph showing real vs predicted values" class="img-fluid">
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
