{% extends "base.html" %}
{% load static %}

{% block title %}Inicial | sus.log.br{% endblock %}

{% block content %}
<div class="container text-center first-sec-inicial-index">
    <div class="row">
      <div class="col">
        <h1 class="h1-home">Predição de inventário usando Machine Learning</h1>
        <p class="p-first additional-padding-bottom">Preveja e otimize o uso de medicamentos e vacinas usando Inteligência Artificial.</p>
        <a href="#"><button type="button" class="btn btn-sm btn-main big">Realizar previsões</button></a>
      </div>
      <div class="col">
        <img class="image-header" src="{% static 'images/medicamentos.webp' %}">
      </div>
    </div>
</div>

<div class="container text-center gray">
    <div class="row">
      <div class="col">
        <img class="image-header" src="{% static 'images/vacinacovid.jpg' %}">
      </div>
      <div class="col height-index-inicial-sections">
        <ul class="list-group list-group-flush">
            <h3 class="h3-home">Bilhões em prejuizos</h3>
            <li class="list-group-item"><i class="bi bi-camera-reels-fill"></i> Entre 2015 a 2023: R$2,08BI em insumos inutilizados</li>
            <li class="list-group-item"><i class="bi bi-file-earmark-play-fill"></i> Apenas em 2023 Governou perdeu R$1,2BI</li>
          </ul>
          <a href="https://g1.globo.com/jornal-nacional/noticia/2024/04/22/falta-de-comunicacao-prejudica-distribuicao-eficiente-de-medicamentos-e-vacinas-pela-rede-do-sus.ghtml"><button type="button" class="btn btn-sm btn-whatsapp big">Ler reportagem</button></a>
      </div>
    </div>
</div>

{% endblock %}