<!-- templates/compare_models_df1.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
Comparar modelos | sus.log.br
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col">
          <h1 class="h1-home">Predição anual de vacinas em Forquilhinha/SC feita por diferente modelos</h1>
          <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-sm btn-main big">Realizar predicao</button>
            </form>
          </div>
        </div>
        <div class="col">
            <img class="image-header" src="{% static 'images/vacinas.jpg' %}">
          </div>
      </div>

    <!-- Display the table of results if data is available -->
    {% if has_data %}
    <hr> 
        <h3 class="mt-4">Resultados para {{ form.cleaned_data.Ano }}</h3>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Vacinas aplicadas</th>
                    <th>Floresta aleatória</th>
                    <th>Regressao Linear</th>
                    <th>SVM</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data_year.itertuples %}
                <tr>
                    <td>{{ row.Index }}</td>
                    <td>{{ row.data|date:"F Y" }}</td>
                    <td>{{ row.vacinas_aplicadas|floatformat:0 }}</td>
                    <td>{{ row.Vacinas_RF|floatformat:0 }}</td>
                    <td>{{ row.Vacinas_LR|floatformat:0 }}</td>
                    <td>{{ row.Vacinas_SVM|floatformat:0 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Display the graph if it exists -->
        {% if graph_path %}
            <div class="mt-4">
                <hr>
                <h3>Comparação entre modelos</h3>
                <img src="{% static graph_path %}" alt="Graph comparing model predictions" class="img-fluid">
            </div>
        {% endif %}

        <!-- Display the metrics -->
        <div class="mt-4">
            <hr>
            <h3>Métricas de avaliaçao</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>MAE</th>
                        <th>MSE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Random Forest</td>
                        <td>{{ metrics.RF_MAE|floatformat:0 }}</td>
                        <td>{{ metrics.RF_MSE|floatformat:0 }}</td>
                    </tr>
                    <tr>
                        <td>Linear Regression</td>
                        <td>{{ metrics.LR_MAE|floatformat:0 }}</td>
                        <td>{{ metrics.LR_MSE|floatformat:0 }}</td>
                    </tr>
                    <tr>
                        <td>SVM</td>
                        <td>{{ metrics.SVM_MAE|floatformat:0 }}</td>
                        <td>{{ metrics.SVM_MSE|floatformat:0 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}
